/*font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
$gray: #6c7279;

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: $gray;
    -webkit-font-smoothing: antialiased;

    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*      Header      */
.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;

        border-bottom: 1px solid #505369;
    }

    &.fixed{
        height: auto;
        position: fixed;
        background-color: #31344e;
    }

    &.fixed &__inner{
        padding-bottom: 15px;
        padding-top: 15px;

        border-bottom: 0;
    }
}

/*      Nav     */
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    &__link{
        margin-left: 50px;
        color: #fff;
        text-decoration: none;
        opacity: .75;
        transition: opacity .2s linear;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            opacity: 1;
        }
    }
}

/*      Intro       */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: #31344e url("../images/intro-bg.jpg") center no-repeat;
    background-size: cover;

    &__inner{
        width: 100%;
        max-width: 970px;
        margin: 0 auto;

        text-align: center;
    }

    &__title{
        font-family: 'Open Sans', sans-serif;
        font-size: 65px;
        line-height: 1.1;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;

        margin: 0 0 30px;
    }

    &__subtitle{
        font-size: 22px;
        color: #fff;
        line-height: 1.5;
        font-weight: 400;

        margin-bottom: 60px;
    }
}

/*      Button      */
.btn{
    display: inline-block;
    vertical-align: top;

    font-size: 13px;
    color: #fff;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    padding: 14px 40px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;

    transition: background .1s linear;

    &--red{
        background-color: #e84545;

        &:hover{
            background-color: #c93232;
        }
    }

    &--long{
        min-width: 280px;
    }
}

/*      Features        */
.features{
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;

    &__item{
        width: 33.33333%;
        padding: 0 40px;
        margin: 25px 0;

        text-align: center;
    }

    &__icon{
        margin-bottom: 25px;
    }

    &__title{
        font-size: 14px;
        color: #2d3033;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text{
        font-size: 14px;
        line-height: 1.5;
        color: $gray;
    }
}

/*      Works       */
.works{
    display: flex;
    flex-wrap: wrap;

    &__item{
        width: 25%;
        height: 350px;
        position: relative;
        overflow: hidden;

        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;

        &:hover .works__content{
            opacity: 1;
        }
    }

    &__photo{
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;

        transform: translate3d(-50%, -50%, 0);
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        width: 100%;
        height: 100%;

        background-color: rgba(232, 69, 69, .9);
        opacity: 0;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        transition: opacity .2s linear;
    }

    &__title{
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    &__text{
        font-size: 14px;
        color: #fff;
    }
}

/*  Team    */
.team{
    margin: 100px 0 70px;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__item{
        width: 25%;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    &__photo{
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    &__name{
        font-size: 22px;
        color: #2d3033;
        margin-bottom: 8px;
    }

    &__prof{
        font-size: 13px;
        color: #e84545;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text{
        font-size: 14px;
        color: $gray;
        line-height: 1.5;
        
        margin-bottom: 20px;
    }
}

/*      Social    */
.social{
    display: flex;

    &--footer{
        justify-content: center;

        .social__item{
            background-color: transparent;
            border-width: 2px;
            border-color: #fff;
            border-radius: 2px;
        }

        .social__icon{
            fill: #fff;
        }
    }

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        margin-right: 4px;

        background-color: #fff;
        border: 1px solid #e8ecee;

        transition: background .1s linear;

        &:hover{
            background-color: #e8ecee;
        }

        &:hover .social__icon{
            fill: #000;
        }
    }

    &__icon{
        display: block;
        height: 18px;
        fill: #c6cacc;

        transition: fill .1s linear;
    }
}

/*  Reviews */
.reviews{
    overflow: hidden;
    background-color: #53354a;

    &__slider{
        height: 500px;
        overflow: hidden;

        &.slick-initialized{
            height: auto;
        }
    }
    
    &__item{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    &__photo{
        width: 50%;
        height: 500px;
        position: relative;
    }

    &__img{
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;

        transform: translateY(-50%);
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 80px;
    }

    &__text{
        font-family: 'Cardo', serif;
        font-style: italic;
        font-size: 36px;
        line-height: 1.3;
        color: #fff;

        margin-bottom: 20px;
    }

    &__author{
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;

    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    li{
        margin: 0 5px;
    }

    button{
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        border: 0;
        padding: 0;

        opacity: 0.5;

        font-size: 0;
        color: transparent;
        cursor: pointer;

        &:focus{
            outline: 0;
        }
    }

    .slick-active button{
        opacity: 1;
    }
}

/*  Download    */
.download{
    margin: 90px 0;
    text-align: center;

    &__title{
        font-size: 28px;
        color: #2d3033;
        font-weight: 300;

        margin-bottom: 10px;
    }

    &__text{
        font-size: 13px;
        color: #2d3033;
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 35px;
    }
}

/*  Footer    */
.footer{
    background-color: #3a3e64;

    &__inner{
        display: flex;
        flex-wrap: wrap;
        padding: 70px 0;
    }

    &__block{
        width: 33.33333%;
        padding: 0 15px;

        text-align: center;
    }

    &__title{
        margin-bottom: 20px;

        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    &__address{
        font-size: 14px;
        line-height: 1.5;
        font-style: normal;
        color: rgba(255, 255, 255, .5);
    }

    &__text{
        font-size: 14px;
        line-height: 1.5;
        color: rgba(255, 255, 255, .5);
    }
}

.copyright{
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;

    span{
        color: #fff;
    }
}

/*  burger   */
.burger{
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;

    &__item{
        display: block;
        width: 30px;
        height: 3px;

        background-color: #fff;

        font-size: 0;
        color: transparent;

        position: relative;

        &:before,
        &:after{
            content: "";
            width: 100%;
            height: 100%;

            background-color: #fff;

            position: absolute;
            left: 0;
            z-index: 1;
        }

        &:before{
            top: -8px;
        }

        &:after{
            bottom: -8px;
        }
    }
}


/*      Media quieres   */
@media (max-width: 1300px){
    /*  works   */
    .works{
        &__item{
            width: 50%;
        }
    }

}

@media (max-width: 991px){
    /*  nav    */
    .nav{
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        right: 0;
        top: 100%;

        &__link{
            padding: 9px 15px;
        }

        &.show{
            display: flex;
        }
    }
    
    /*  burger   */
    .burger{
        display: block;
    }

    /*  intro   */
    .intro{
        &__title{
            font-size: 40px;
        }
    }

    /*  features   */
    .features{
        &__item{
            width: 50%;
        }
    }

    /*  team   */
    .team{
        &__item{
            width: 50%;

            text-align: center;
        }

        &__photo{
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*  social   */
    .social{
        justify-content: center;
    }

    /*  reviews   */
    .reviews{

        &__photo{
            width: 100%;
            margin: 15px 0 40px;
            overflow: hidden;
        }

        &__content{
            width: 100%;
            padding-left: 0;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 767px){
    /*  intro   */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;

        &__title{
            font-size: 30px;
        }

        &__subtitle{
            margin-bottom: 30px;
            font-size: 16px;
        }
    }

    /*  features   */
    .features{
        margin: 40px 0;

        &__item{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    /*  works   */
    .works{
        &__item{
            width: 100%;
            height: 300px;
        }
    }

    /*  team   */
    .team{
        margin: 60px 0 30px;

        &__item{
            width: 100%;
        }
    }

    /*  reviews   */
    .reviews{

        &__text{
            font-size: 25px;
        }
    }

    /*  btn   */
    .btn--long{
        min-width: 260px;
    }

    /*  download   */
    .download{
        margin: 50px 0;

        &__title{
            font-size: 24px;
        }
    }

    /*  footer   */
    .footer{

        &__inner{
            padding: 30px 0;
        }

        &__block{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 414px){
    /*  reviews */
    .reviews{

        &__img{
            right: -100px;
        }
    }
}
